services:
  db:
    image: postgres:15-alpine
    container_name: crm_postgres
    environment:
      - POSTGRES_USER=usuario_crm
      - POSTGRES_PASSWORD=password_crm
      - POSTGRES_DB=crm_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  
  pgadmin:
    image: dpage/pgadmin4
    container_name: crm_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8081:80"
    depends_on:
      - db

volumes:
  postgres_data: